<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Line Chart</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Dark Wolf Solutions Dashboard</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li class="active"><a href="line_chart">Line Chart</a></li>
          <li><a href="bar_chart">Bar Chart</a></li>
          <li><a href="pie_chart">Pie Chart</a></li>
        </ul>
      </div>
    </nav>
  </head>
  <body>
    <h1 style="text-align:center">Sale Prices vs Year by Property Type</h1>
    <canvas id="myChart" class="img-responsive" width=600 height=400 style="margin:auto"></canvas>


    <script>
      // do not resize the chart canvas when its container does 
      Chart.defaults.global.responsive = false;

      mapping = {{ mapped|tojson}};

      // Form list of maps of labels (property types) and data (price and year)
      datasets = [];
      Object.keys(mapping).forEach(function(k){
        data = [];
        console.log(mapping[k])
        mapping[k].forEach(function(item){
            data.push({x: item[0], y:item[1]});
        });

        // generate random color
        randColor = '#' + (Math.random().toString(16) + '0000000').slice(2, 8); 

        datasets.push({
            label: k, 
            data: data,
            fill: false,
            lineTension: 0.1,
            backgroundColor: randColor,
            borderColor: randColor,
            pointBorderColor: randColor,
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10
        });
      });

      // define the chart data
      var chartData = {
        labels : {{labels}},
        datasets : datasets
      };

      // get chart canvas
      var holder = document.getElementById("myChart");
      var ctx = document.getElementById("myChart").getContext("2d");

      // create the chart using the chart canvas
      var myChart = new Chart(ctx, {
        type: 'line',
        data: chartData,
        options: {
          tooltips: {
            mode: 'index',
            intersect: false
          },
          hover: {
              mode: 'nearest',
              intersect: true
          },
          scales: {
          xAxes: [{
            display: true,
            scaleLabel: {
            display: true,
            labelString: 'Year'
            }
          }],
          yAxes: [{
            display: true,
            scaleLabel: {
            display: true,
            labelString: 'Average Sale Price'
            }
            }]
          }
        }
      });
    </script>

  </body>
</html>
